:root {
    --primary-color: #000000;
    --secondary-color: #000000;
    --tertiary-color: #000000;
    --bg-sky-gradient-1: #247557;
    --bg-sky-gradient-2: #71bf8d;
    --bg-sky-gradient-3: #8cc67e;
    --bg-sky-gradient-4: #2a7156;
    --bg-sky-gradient-5: #236b50;
    --bg-sky-gradient-6: #81b874;
}