:root {
    --primary-color: #000000;
    --secondary-color: #000000;
    --tertiary-color: #000000;
    --bg-sky-gradient-1: #236b50;
    --bg-sky-gradient-2: #71bf8d;
    --bg-sky-gradient-3: #81b874;
}